# 1

## Part 1

In [ ]:
PUZZLE = 1

In [ ]:
import pathlib

INPUT_DIR = pathlib.Path('c:/tbv/git/adventofcode2024/inputs/')
INPUT = INPUT_DIR.joinpath(f'{PUZZLE}.txt')

In [ ]:
import pandas

df = pandas.read_csv(INPUT, header=None, delim_whitespace=True)

In [24]:
df

         0      1  sorted_0  sorted_1  diff
0    84283  63343     10024     10077    53
1    35360  98209     10131     10225    94
2    17841  84541     10183     10252    69
3    22035  44413     10188     10470   282
4    43645  22440     10226     10504   278
..     ...    ...       ...       ...   ...
995  37271  78110     99675     99602    73
996  59764  98477     99683     99706    23
997  63559  55088     99684     99803   119
998  21472  92869     99973     99820   153
999  70180  11171     99990     99901    89

[1000 rows x 5 columns]

In [ ]:
# calculate distances between sorted lists, then sum them

df['sorted_0'] = df[0].sort_values().values
df['sorted_1'] = df[1].sort_values().values

df['diff'] = abs(df['sorted_0'] - df['sorted_1'])
df

In [ ]:
distance_sum = df['diff'].sum()
distance_sum

## Part 2

In [47]:
# calculate 'similarity scores' between lists, then sum them
def similarity_score(number, series):
    find = series.loc[series == number]
    if find.shape[0] > 0:
        value = find.values[0]
    else:
        value = 0
    return value * find.shape[0]
    
similarity_score(11171, df[1])

11171

In [50]:
sum = 0

for row in df[0]:
    ss = similarity_score(row, df[1])
    sum += ss
    
print(sum)

19437052